Babel
beautifulsoup4
bleach
certifi
chardet
click
colorama
decorator
elastic-doc-manager
elastic2-doc-manager
elasticsearch
entrypoints
Flask
Flask-Babel
Flask-Elasticsearch
Flask-Login
Flask-SQLAlchemy
flask-swagger
Flask-WTF
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
lxml
Markdown
MarkupSafe
mistune
mongo-connector
nbconvert
nbformat
notebook
pandocfilters
parso
pickleshare
prompt-toolkit
Pygments
pymongo
PyMySQL
python-dateutil
pytz
pywinpty
PyYAML
pyzmq
qtconsole
requests
Send2Trash
simplegeneric
six
SQLAlchemy
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
win-unicode-console
WTForms
